body {
    background: #333;
    max-width: 450px;
    margin: auto;
    padding: 2rem 0;
}

h1 {
    text-align: center;
    color: #80d000;
}

pre {
    line-height: 1.5rem;
    font-size: 1.5rem;
    letter-spacing: 2px;
    color: lime;
}